<div class="pagina">
    <a id="menuButton" #menuButton>
        <img class="menu" src="assets/logo_Menu.png">
    </a>
    <div class="componentes">
      <app-colegio-busqueda *ngIf="isActive('colegio-busqueda')"></app-colegio-busqueda>

    </div>  
</div>
<div class="deslizador" id="deslizador" #deslizador>
    <img id="closeButton" class="close-button" src="assets/logo_X.png" #closeButton>
    <div class="texto-dislizador">
        <h3 class="nombre-operador">Nombre <br> Colegio</h3>
        <h5 (click)="closeActiveComponent()" class="opciones-deslizador">Inicio</h5>
        <h5 (click)="setActiveComponent('quejas-operador')" class="opciones-deslizador">Encuestar</h5>
        <h5 (click)="setActiveComponent('quejas-operador')" class="opciones-deslizador">Estudiantes</h5>
        <h5 (click)="setActiveComponent('quejas-operador')" class="opciones-deslizador">Realizar Queja</h5>
    </div>
    <button class="btn-salir" (click)="salir()">SALIR</button>
</div>
