<div class="componente">
    <h2 class="titulo-quejas">Inventario</h2>
    <div class="resultados">
        <div class="grid-header">
            <div class="nombreColegio"> Nombre </div>
            <div> Descripcion </div>
            <div> Fecha Expiracion </div>
            <div> Tipo </div>
        </div>
        <div class="grid-row">
            <div class="nombreColegio"> Nombre </div>
            <div> Descripcion </div>
            <div> Fecha Expiracion </div>
            <div> Tipo </div>
        </div>
    </div>
</div>
