<div class="componente">
    <h2 class="titulo-quejas">Inventario</h2>
    <div class="resultados">
        <div class="grid-header">
            <div> Nombre </div>
            <div> Descripcion </div>
            <div> Fecha Expiracion </div>
            <div> Tipo </div>
            <div> Cantidad </div>
        </div>
        <div class="grid-row" *ngFor="let comida of inventario">
            <div> {{comida.food.name}} </div>
            <div> {{comida.food.description}} </div>
            <div> {{comida.food.expirationDate}} </div>
            <div> {{comida.food.type}} </div>
            <div> {{comida.quantity}} </div>
        </div>
    </div>
    <div class="butones">
        <button type="button" class="btn btn-success" (click)="hacerPedido()" >Agregar Producto</button>
        <button type="button" class="btn btn-success">Agregar Inventario</button>
    </div>
    
    
    <app-crear-producto-operador
    *ngIf="pedido"
    (cerrar)="pedido = false"
    (alimentoCreado)="recargarInventario()"
></app-crear-producto-operador>
</div>

