<div class="componente">
    <form class="form-inline my-2 my-lg-0 search-container">    
        <div class="input-group search-group">
            <input id="campoBusqueda" name="campoBusqueda" class="form-control" type="search" placeholder="Buscar"> 

            <button class="input-group-text search-btn" type="button">
                <img src="assets/logo_Lupa.png" alt="Buscar" style="height: 20px;">
            </button>
            
            <button class="input-group-text search-btn" type="button">
                <img src="assets/logo_Ajustes.png" alt="Ajustes" style="height: 20px;">
            </button>
        </div>
    </form>


    <div class="filtros">
        <div class="selectores">
            <select class="form-select" aria-label="Default select example">
                <option value="" selected disabled>Departamento</option>
                <option value="1">One</option>
            </select>
        </div>
        <div class="selectores">
            <select class="form-select" aria-label="Default select example">
                <option value="" selected disabled>Ciudad</option>
                <option value="1">One</option>
            </select>
        </div>
        <div class="selectores">
            <select class="form-select" aria-label="Default select example">
                <option value="" selected disabled>Estado</option>
                <option value="1">One</option>
            </select>
        </div>
    </div>

    <div class="resultados">
        <div class="encabezado">
            <h6 class="colegio">Colegio</h6>
            <h6 class="departamento">Departamento</h6>
            <h6 class="ciudad">Ciudad</h6>
            <h6 class="Estado">Estado</h6>
        </div>
    </div>
</div>

