

<div class="componente">
    
  <h2 class="titulo-quejas">Quejas</h2>

  <div class="resultados">
    <div class="grid-header">
      <div>ID Queja</div>
      <div>Usuario</div>
      <div>Orden</div>
      <div>Comentario</div>
      <div>Estatus</div>
    </div>

    <!-- Aquí se renderizarían las quejas existentes -->
    <div class="grid-row" >

    </div>
  </div>


  <!-- Formulario opcional (puede mostrarse al hacer clic en el botón) -->
    <div class="butones">
        <button type="button" class="btn btn-success" (click)="setActiveComponent('quejas-colegio')">Crear Queja</button>
    </div>
</div>
