

<div class="componente">
    
  <h2 class="titulo-quejas">Quejas</h2>

  <div class="resultados">
    <div class="grid-header">
      <div>Usuario</div>
      <div>Orden</div>
      <div>Comentario</div>
      <div>Estatus</div>

    </div>

    <!-- Aquí se renderizarían las quejas existentes -->
    <div class="grid-row" *ngFor="let queja of quejas">
      <div>{{ queja.school.idUser }}</div>
      <div>{{ queja.order.idOrder }}</div>
      <div>{{ queja.comment }}</div>
      <div>{{ queja.status }}</div>
    </div>
  </div>


<!-- Botón para abrir el formulario de Complaint-->
<div class="butones">
  <button type="button" class="btn btn-success" (click)="mostrarFormulario()">Crear Queja</button>
</div>

<app-crear-queja
  *ngIf="mostrarFormularioComplaint"
  (cerrar)="cerrarFormulario()"
  (quejaCreada)="ngOnInit()">
</app-crear-queja>
</div>
