

<div class="componente">
    
  <h2 class="titulo-quejas">Quejas</h2>

  <div class="resultados">
    <div class="grid-header">
      <div>ID Queja</div>
      <div>Usuario</div>
      <div>Orden</div>
      <div>Comentario</div>
      <div>Estatus</div>
    </div>

    <!-- Aquí se renderizarían las quejas existentes -->
    <div class="grid-row" >

    </div>
  </div>


<!-- Botón para abrir el formulario de queja -->
<div class="butones">
  <button type="button" class="btn btn-success" (click)="mostrarFormulario()">Crear Queja</button>
</div>

<app-crear-queja
  *ngIf="mostrarFormularioQueja"
  (cerrar)="cerrarFormulario()"
  (quejaCreada)="refrescarLista()">
</app-crear-queja>
</div>
