<div class="modulo">
    <h2 class="nombre-colegio">{{colegioSeleccionado.name}}</h2>

    <div class="info-col">
        <div class="info-item">
            <strong class="titulo-item">Id:</strong> {{ colegioSeleccionado.idUser }}
        </div>

        <div class="info-item">
            <strong class="titulo-item">Dirección:</strong> {{ colegioSeleccionado.address }}
        </div>
        
        <div class="info-item">
            <strong class="titulo-item">Email:</strong> {{ colegioSeleccionado.email }}
        </div>
    </div>

    <div class="botones">
        <button class="btn btn-success" (click)="hacerPedido()" [disabled]="pedido">Realizar entrega</button>
        <button class="btn btn-outline-light" [disabled]="pedido" (click)="regresar()">Regresar</button>
    </div>
</div>
<div class="hacar-pedido">
    <app-pedido-operador *ngIf="pedido" [pedido]="pedido" (cerrar)="pedido = false"></app-pedido-operador>
</div>
