.componente{
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    height: 80vh;
    width: 80vw;
    background-color: azure;
    border-radius: 35px;
    padding: 5%;
}

.titulo-quejas{
    color: #62c669;
    font-weight: 600;
    margin-bottom: 25px;
}

.columnas-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #a3a3a3;
    font-size: 17px;
    font-weight: 500;
}

.titulo-colegio{
    flex-grow: 2;
}

.titulo-fecha{
    flex-grow: 1;
}

.titulo-estado{
    flex-grow: 0.3;
}