.componente{
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    height: 80vh;
    width: 80vw;
    background-color: azure;
    border-radius: 35px;
    padding: 5%;
}

.titulo-quejas{
    color: #62c669;
    font-weight: 600;
    margin-bottom: 25px;
}


.resultados {
    margin-top: 5px;
    flex-grow: 1;
    border-radius: 35px;
    background-color: azure;
    padding: 15px 20px;
    overflow-y: auto;
}

.grid-header, .grid-row {
    display: grid;
    grid-template-columns: 2fr 7fr 2fr 2fr;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
    text-align: center;
}

.grid-header {
    font-weight: bold;
    color: #62c669;
    border-bottom: 2px solid #62c669;
}

.grid-row {
    border-bottom: 1px solid #ccc;
}


.nombreColegio {
    font-weight: 700;
}