<div class="componente">
    <h2 class="titulo-quejas">Quejas</h2>
    <div class="resultados">
        <div class="grid-header">
            <div class="nombreColegio"> Colegio </div>
            <div> Comentario </div>
            <div> Status </div>
            <div> Fecha Expiracion </div>
        </div>
        <div class="grid-row" *ngFor=" let Complaintof quejas">
            <div class="nombreColegio"> {{Complaintof.school.name}} </div>
            <div> {{Complaintof.comment}} </div>
            <div> {{Complaintof.status}} </div>
            <div> {{Complaintof.creationDate}} </div>
        </div>
    </div>
</div>
