<h1 style="color:white">Ordenes</h1>
<div class="componente">
  <div class="resultados">
    <div class="encabezado grid-row">
      <div><strong>Comida</strong></div>
      <div><strong>Cantidad</strong></div>
      <div><strong>Entrega</strong></div>
      <div><strong>Estado</strong></div>
      <div><strong>Comentario</strong></div>
      <div><strong>Acciones</strong></div>
    </div>

    <!-- Cada orden -->
    <div class="grid-row" *ngFor="let orden of ordenes">
      <div>{{ orden.food.name }}</div>
      <div>{{ orden.quantity }}</div>
      <div>{{ orden.deliveryDate }}</div>
      <div>{{ orden.status }}</div>
      <div>{{ orden.comment }}</div>
      <div>
        <button
          (click)="actualizarEstado(orden)"
          [ngClass]="{'boton-recibido': orden.status === 'RECIBIDA'}"
          [disabled]="orden.status === 'RECIBIDA'"
        >Recibida</button>
      </div>
    </div>
    </div>

  </div>
        <div class="acciones">
      <button class="boton-menu" (click)="abrirMenuModal()">Realizar Menú de Mañana</button>
    </div>



  <!-- Modal for MenuComponent -->
  <div class="hacar-pedido" *ngIf="showMenuModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Gestión de Menús</h5>
        <button type="button" class="close" (click)="cerrarMenuModal()">
          <span>×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-menu></app-menu>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" *ngIf="showMenuModal"></div>
