<div class="componente">
    <h1 style=color:white>ESTUDIANTES</h1>
    <div class="resultados">
        <div class="encabezado">
            <h6 class="colegio">Comida</h6>
            <h6 class="Cantidad">Cantidad</h6>
            <h6 class="Vencimiento">Vencimiento</h6>
        </div>
    </div>
    <div class="acciones">
        <button class="boton-menu">Realizar Menu de Mañana</button>
        <p class="proxima-entrega">
          PRÓXIMA ENTREGA: <span>14/05/2025</span>
        </p>
      </div>
</div>
