/* Ajustes Componentes */




.componente{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 80vh;
    width: 80vw;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(5, 4fr); /* 5 columnas iguales */
  gap: 160px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.row-row {
  display: grid;
  grid-template-columns: repeat(5, 4fr); /* 5 columnas iguales */
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.resultados{
    margin-top: 15px;
    flex-grow: 1;

    border-radius: 35px;
    background-color: azure;
    padding: 25px 40px;
}


.encabezado{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    color: #62c669;
}
.colegio{flex: 6;}
.Cantidad{ flex: 3;}
.Vencimiento{ flex: 2;}
/* Menu */
.acciones {
    display: flex;
    align-items: center;      
    justify-content: space-between;
    margin-top: 15px;
  }

  .boton-menu {
    background-color: azure;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    color:  #62c669;
    cursor: pointer;
  }
  
  .boton-menu:active{
    background-color: #c9c9c9;
  }

  .proxima-entrega {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    margin: 0;                 /* Quitamos márgenes extra */
  }
  
  .proxima-entrega span {
    color: #2ecc71;
    font-weight: bold;
    font-size: 18px;
  }
  
  

