<div class="componente">
    <h2 class="titulo"> PEDIDO </h2>

    <div class="lista">
        <div class="alimentos">
            <div class="fila-comida" *ngFor="let item of [].constructor(cantidadElementos); let i = index" >

                <select class="input-select">
                    <option disabled selected>Seleccione Alimento</option>
                    <option *ngFor="let alimento of alimentos" [value]="alimento">{{ alimento }}</option>
                </select>
                
                <select class="input-select">
                    <option disabled selected>Fecha vencimiento</option>
                    <option *ngFor="let fecha of fechas" [value]="fecha">{{ fecha }}</option>
                </select>
                
                <div class="cantidad-container">
                    <input type="number" class="cantidad-input" [(ngModel)]="cantidades[i]" min="1" />
                </div>
                
            </div>
            <div class="botones-entregas">
                <button class="btn-lista" (click)="aggElemento()">+</button>
                <button class="btn-lista" (click)="deleteElemento()" >-</button>
            </div>
        </div>   
        <button *ngIf="!mostrarSelectorFecha" class="btn-fecha-entrega" (click)="mostrarSelectorFecha = true">{{textoFecha}}</button>
        <input *ngIf="mostrarSelectorFecha" type="date" [min]="hoy" onkeydown="return false" class="selector-fecha" (change)="seleccionarFecha($event)"/>
    </div>

    <div class="botones">
        <button class="btn-entrega">Hacer Entrega</button>
        <button (click)="cerrarPedido()" class="btn-cancelar">Cancelar</button>
    </div>
</div>
