<div class="pagina">
    <a id="menuButton">
        <img class="menu" src="assets/logo_Menu.png">
    </a>
    <div class="componentes">
        <app-operador-busqueda>
        </app-operador-busqueda>
    </div>  
</div>

<div class="deslizador" id="deslizador">
    <img id="closeButton" class="close-button" src="assets/logo_X.png">
    <div class="texto-dislizador">
        <h3 class="nombre-operador"> Nombre <br> Operador</h3>
        <h5> Inicio </h5>
        <h5> Quejas </h5>
    </div>
    <button class="btn-salir">SALIR</button>
</div>