<div>
  <div class="modal">
    <h3 class="titulo">Nueva Queja</h3>

    <div class="lista">
      <div class="queja">
        <div class="fila-queja">
          <label for="orden">Comentario</label>
          <!-- Comentario más grande, con maxlength -->
          <textarea 
            placeholder="Comentario maximo 200 caracteres" 
            class="textarea-comentario" 
            [(ngModel)]="nuevaComplaint.comment" 
            maxlength="200"
            rows="4"
          ></textarea>
          <div class="contador">{{ nuevaComplaint.comment.length }}/200 caracteres</div>

          <!-- Estado con opción única -->
           <label for="orden">Estado</label>
          <select class="input-select" [(ngModel)]="nuevaComplaint.status">
            <option value="Enviada">Enviada</option>
          </select>

          <!-- Orden estilizado -->
          <label for="orden">Orden</label>
          <select id="orden" class="input-select" [(ngModel)]="nuevaComplaint.order.idOrder">
            <option value="" disabled selected>Seleccione una orden</option>
            <option *ngFor="let orden of ordenes" [value]="orden.idOrder">
              {{ orden.idOrder }}
            </option>
          </select>

          <!-- Fecha -->
          <div class="campo-fecha">
            <label for="fecha">Fecha de vencimiento</label>
            <input 
              type="date" 
              id="fecha" 
              [(ngModel)]="nuevaComplaint.creationDate" 
              class="input-date" 
              [min]="hoy" 
              placeholder="Seleccione una fecha"
            >
          </div>
        </div>
      </div>
    </div>

    <div class="botones">
      <button class="btn-entrega" (click)="agregarQueja()">Guardar</button>
      <button class="btn-cancelar" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>

